@charset "utf-8";
/* CSS Document */
body{
	/*background-color: #007c64;*/
	background-color: black;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	margin:0px;
	padding: 0px;
}
header{
		text-align: center;
}
section{
	justify-content: space-between;
	display:flex;

}
img{
	width: 50%;
	border-radius: 5px;
	filter:grayscale(100%)
}
img:hover{
	transform: scale(1.1);
	filter:grayscale(0%)
}



/*----------------class y id----------------*/


.logo{
	width: 10%;

}
.bloquefoto{
	text-align:center;
	background-color: aquamarine;
}
.piefoto{
	background-color: red;
}