@charset "utf-8";
/* CSS Document */

*{
	/*AFECTA A TODO*/
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 10pt;
}
header{
	height: 50px;
	background-color:#003245;
	color:white;
}
img{
	width: 100%;
}
article{
	width: 60%;
	margin-left: auto;
	margin-right:auto;
	text-align:left;
	
}
footer{

	width: 60%;
	margin-left: auto;
	margin-right:auto;
}
strong{
	border-bottom: 1px dashed #999;
	text-decoration: none;
}
li{
	display: inline-block;
	width: 33%;
	padding:0 0 0 0;
}
a:hover {
	color: black;
}
a:visited {
	color:black;
}

/*id y class*/

.logopais{
	width: 100px;
	float: left;
}
.empresa{
	width: 150px;
	  display: block;
	margin: auto;
}
.telefonicalogo{
	width: 100px;
	float: right;
}
#titular{
	margin: 0 10% 0 10%;
	padding: 0 10% 0 10%;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	text-align: center;
	font-size: 300%;
	
}
#subtitular{
	text-align: center;
	margin: 0 10% 0 10%;
	padding:2% 10% 2% 10%;

}
#capitular:first-letter{
  	float: left;
 	margin: 0 1% 0 0;
	font-size: 500%;
	font-weight: bold;
}
#final{
	background-color:lightgray;
	text-align: center;
	padding: 2% 2% 2% 2%;
	align-items: center;

	
}
#trustlogo{
	width: 12px;
	  display: block;
	margin: auto;
}
#info_iz{
	display: inline;
		  border: 2px solid black;
		line-height: 200%;
}
#info_der{
	float:right;
	  border: 2px solid black;
		display:inline-block;
		line-height: 200%;

}
.anchotexto{
	padding:0 20% 0 20%;
}