@charset "utf-8";
/* CSS Document */
@media  only screen and (max-width: 620px)
{
	.menu, .main, .right{
width: 100%;
  	}
* {
  box-sizing: border-box;
	font-family:Verdana;
}
.menu {
  float:left;
  width:20%;
  text-align:center;
}
.menu a {
  background-color:#4C0A54;
	color:aliceblue;
  padding:8px;
  margin-top:6px;
  display:block;
  width:100%;
}
.main {
  float:left;
  width:60%;
  padding:0 20px;
}
.right {
  background-color:#4C0A54;
  float:left;
  width:20%;
  padding:15px;
  margin-top:6px;
  text-align:center;
}

div{
	padding:15px;
	text-align:center;
}
h1{
	color:aliceblue;
}
#cero{
	background-color:#4C0A54;
	
}
#uno{
	overflow:auto;
	background-color:green;

}
#dos{
	background-color:#4C0A54;
	text-align:center;
	padding:10px;
	margin-top:5px;
}
