@charset "utf-8";
/* CSS Document */
body{
	background-color: #007c64;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	margin:0px;
	padding: 0px;
}
header{
		text-align: center;
}
section{
	background-color: #51334b;
	justify-content: space-between;
	display:flex;
}
img{
	width: 50%
}



/*----------------class y id----------------*/


.logo{
	width: 10%;

}
.bloquefoto{
	background-color: white;
	text-align:center;
}