@charset "UTF-8";
/* CSS Document */

* {
	color:#251B05;
    background-color:antiquewhite;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;


}
header{
	text-align: center;
	margin-top: 1%;
	margin-bottom:1%;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pagina{
	width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}
div{
	width: 30%;
    height: 350px;
    overflow: auto;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
	border-style: dotted;
}
p{
		font-size: 15px;
}
a {
	color:peru;
}



@font-face {
    font-family: Fuente1;
    src: url("../tipos/Anton/Anton-Regular.ttf");
}
	#tipo_uno{
	font-family: Fuente1;

}

@font-face {
    font-family: Fuente2;
    src: url("../tipos/Do_Hyeon/DoHyeon-Regular.ttf");
}
	#tipo_dos{
	font-family: Fuente2;

}

@font-face {
    font-family: Fuente3;
    src: url("../tipos/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}
	#tipo_tres{
	font-family: Fuente3;

}

@font-face {
    font-family: Fuente4;
    src: url("../tipos/Major_Mono_Display/MajorMonoDisplay-Regular.ttf");
}
	#tipo_cuatro{
	font-family: Fuente4;

}

@font-face {
    font-family: Fuente5;
    src: url("../tipos/Nerko_One/NerkoOne-Regular.ttf");
}
	#tipo_cinco{
	font-family: Fuente5;

}

@font-face {
    font-family: Fuente6;
    src: url("../tipos/Oswald/Oswald-VariableFont_wght.ttf");
}
	#tipo_seis{
	font-family: Fuente6;

}

@font-face {
    font-family: Fuente7;
    src: url("../tipos/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}
	#tipo_siete{
	font-family: Fuente7;

}

@font-face {
    font-family: Fuente8;
    src: url("../tipos/Russo_One/RussoOne-Regular.ttf");
}
	#tipo_ocho{
	font-family: Fuente8;

}

@font-face {
    font-family: Fuente9;
    src: url("../tipos/Texturina/Texturina-VariableFont_opsz,wght.ttf");
}
	#tipo_nueve{
	font-family: Fuente9;

}




