@charset "utf-8";
/* CSS Document */
body{
	background-color: black;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	margin:0px;
	padding: 0px;
}
header{
		text-align: center;
}
section{
	justify-content: space-between;
	display:flex;

}
img{
	width: 50%;
	border-radius: 5px;
	
}
img:hover{
	transform: scale(1.1);
	
}



/*----------------class y id----------------*/


.logo{
	width: 10%;
}
.logo:hover{
	transform: none;
}
.bloquefoto{
	text-align:center;
}
.piefoto{
	color:white;
	background-color: black;
}

/*-------------- COCKIES ---------------------*/

/* CSS para la animación y localización de los DIV de cookies */
 
@keyframes desaparecer
{
0%		{bottom: 0px;}
80%		{bottom: 0px;}
100%		{bottom: -50px;}
}
 
@-webkit-keyframes desaparecer /* Safari and Chrome */
{
0%		{bottom: 0px;}
80%		{bottom: 0px;}
100%		{bottom: -50px;}
}
 
@keyframes aparecer
{
0%		{bottom: -38px;}
10%		{bottom: 0px;}
90%		{bottom: 0px;}
100%		{bottom: -38px;}
}
 
@-webkit-keyframes aparecer /* Safari and Chrome */
{
0%		{bottom: -38px;}
10%		{bottom: 0px;}
90%		{bottom: 0px;}
100%		{bottom: -38px;}
}
#cookiesms1:target {
    display: none;
}
.cookiesms{	
	width:100%;
	height:60px;
	margin:0 auto;
	padding-left:auto;
	clear:both;
color: #333;
bottom:0px;
position:fixed;
left: 0px;
background-color: #FFF;
transition: bottom 1s;
z-index:9;
text-align: center;
}
a:visited{
	color:black;
} 
/*
.cookies2{
background-color: #FFF;
display:inline;
filter:alpha(opacity=95);
position:absolute; 
left:1%; 
top:-30px;
font-size:15px;
height:30px;
padding-left:25px;
padding-right:25px;
-webkit-border-top-right-radius: 15px;
-webkit-border-top-left-radius: 15px;
-moz-border-radius-topright: 15px;
-moz-border-radius-topleft: 15px;
border-top-right-radius: 15px;
border-top-left-radius: 15px;

}+/

